<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" ontent="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>AOS Stats</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container">
        <a class="navbar-brand" href="/">AOS Tracker</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/">Home</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    
    <div class="container">
      <main id="app" role="main" class="mt-4">
        <div class="card text-dark bg-light mb-3">
          <div class="card-header">Game data</div>
          <div class="card-body">
            <form action="/all-game-data.csv" method="post" enctype="multipart/form-data">
              <div class="mb-3">
                <input @change="onDbFileChange" class="form-control" type="file" id="dbFile" name="dbFile" accept=".csv">
              </div>
              <a href="/all-game-data.csv" class="btn btn-success"><i class="fas fa-download"></i> Export</a>
              <a href="/init" class="btn btn-danger"><i class="fas fa-trash"></i> Reset</a>
              <button type="submit" class="btn float-end" :class="{ 'btn-warning': dbFileSelected, 'btn-light': !dbFileSelected }" v-bind:disabled="!dbFileSelected"><i class="fas fa-upload"></i> Import</button>
            </form>
          </div>
        </div>
        
        <div class="card mb-3" v-for="round in rounds">
          <div class="card-header">Game #{{ round.id }}</div>
          <div class="card-body">
            <h4>Game stats</h4>
            <table class="table table-bordered">
              <tr>
                <th class="w-50">Started at</th>
                <td>{{ round.started }}</td>
              </tr>
              <tr>
                <th>Duration</th>
                <td>{{ Math.round(round.duration) }} minutes</td>
              </tr>
              <tr>
                <th>Season</th>
                <td>{{ round.season }}</td>
              </tr>
            </table>

            <div class="row mt-4">
              <div class="col-lg" v-for="team in round.teams">
                <h4 :class="{ 'text-success': team.win, 'text-danger': !team.win }">Team #{{ team.id }} ({{ team.win ? "Winner" : "Loser" }})</h4>
                <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th>Player</th>
                      <th>Character</th>
                      <th>Role</th>
                      <th>Kills</th>
                      <th>Deaths</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr v-for="player in team.players">
                      <td>{{ player.username }}</td>
                      <td>{{ player.character_name }}</td>
                      <td>{{ player.role }}</td>
                      <td>{{ player.kills }}</td>
                      <td>{{ player.deaths }}</td>
                    </tr>
                  </tbody>
                </table>
              </div> 
            </div>
          </div>
        </div>
      </main>
    </div>

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="./app.js"></script>
    <script src="https://kit.fontawesome.com/71d0e575d1.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
  </body>
</html>
